<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Alexis Waters</title>
       <link href="stylesheets/styleresults.css" rel="stylesheet" />
  </head>
  <body>
    <a href = "/"><h1 class = "headerFont">You have been matched with Alexis Waters!</h1></a>
    <img class = "img" src = https://media1.popsugar-assets.com/files/thumbor/Tc4u6zZYN4_3Cbzt88nigB5K-90/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2017/06/07/603/n/1922283/e964c3a7fcdf0a63_144777_0026_BIP/i/Alexis-Waters.jpg>
    
    <p class = "facts">You are a person who has a free spirit. You don’t fall into any single category, and likes to have fun. You don’t take life too seriously, just like Alexis. A relationship between you two could create more jokes and laughter in your lives!</p>
  </body>
</html>