<!DOCTYPE html>
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Rose Ceremony</title>-->
<!--  </head>-->
<!--  <body>-->
<!--  <h1>Who are you looking for?</h1>-->
<!--  <a href = "quiz_bachelor"><img src = https://www.wikihow.com/images/thumb/c/c8/Pin-on-a-Boutonniere-Step-2-Version-4.jpg/aid163494-v4-728px-Pin-on-a-Boutonniere-Step-2-Version-4.jpg></a>-->
<!--  <a href = "quiz_bachelorette"><img src = https://thumbs.dreamstime.com/b/happy-girl-holding-bouquet-flowers-their-hands-85293653.jpg></a>-->
<!--  </body>-->
<!--</html>-->



<html>
  <head>
    <meta charset="UTF-8">
    <title>Rose Ceremony</title>
    <link href="stylesheets/style.css" rel="stylesheet" /> 
  </head>
  <body>
    <a href = "/"><h1 class="header">The Bachelor Breakdown</h1></a>
    <h2 class="bio">-Who are you looking for?-</h2>
  <a href = "quiz_bachelor"><img src = http://busysweetlife.com/wp-content/uploads/2015/01/the-bachelor-logo.png class = "bachelor_size"></a>
  <a  href = "quiz_bachelorette"><img src = https://s3.amazonaws.com/bgn2018media/wp-content/uploads/2017/02/29101258/Bachelorette.png class = "bachelorette_size"></a>
  </body>
</html>