<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bekah Martinez</title>
      <link href="stylesheets/styleresults.css" rel="stylesheet" />
  </head>
  <body>
    <a href = "/"><h1 class = "headerFont">You have been matched with Bekah Martinez!</h1></a>
    <img class = "img" src = https://s2.r29static.com//bin/entry/d9a/x,80/1903919/image.jpg>
    
    <p class = "facts">You are a person who others tend to gravitate towards. Your happiness is contagious and everyone wants to be around you. Being with Bekah is the perfect pairing. You would be everyone’s OTP! </p>
  </body>
</html>