<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Bachelor_Bios</title>
    <link href="stylesheets/stylebios.css" rel="stylesheet" />
  </head>
  <body>
  <a href = "/"><h1 class="header">The Bachelor Breakdown</h1></a>
    <h2 class="bio">Biographies</h2>
    <h1 class="contestantsheader">Male Contestants:</h1>
    
    <img class="img" src="https://static.tvgcdn.net/mediabin/showcards/celebs/k-l/thumbs/luke-pell-930663_828x1104.png" alt="Luke image">
    <p class="contestants">Luke Pell
      <li class="facts">Season: 12</li>
      <li class="facts">Age: 33</li>
      <li class="facts">Hometown: Burnet, TX</li>
      <li class="facts">Fun Fact: Luke is a singer and songwriter <br>who loves his family and always makes time <br>to interact with his sweet sister. </li> 
    </p>
    <br>
    <br>
    
    <img class="img" src="https://peopledotcom.files.wordpress.com/2017/05/the-bachelorette-30.jpg" alt="Dean image">
    <p class="contestantsdean">Dean Unglert</p>
    <li class="facts">Season: 13</li>
    <li class="facts">Age: 26</li>
    <li class="facts">Hometown: Los Angeles, CA</li>
<li class="facts">Fun fact: Dean is an all-time social media <br>star who has earned over 800,000 Instagram <br>followers since his time on the show.</li>
    </p>
    <br>
    <br>
  
  <img class="img" src="https://akns-images.eonline.com/eol_images/Entire_Site/201651/rs_600x600-160601103514-600.chad-bachelorette.ch.060116.jpg?fit=around|700:700&crop=700:700;center,top&output-quality=90" alt="Chad image">
    <p class="contestantschad">Chad Johnson</p>
    <li class="facts">Season: 12</li>
    <li class="facts">Age: 30</li>
    <li class="facts">Hometown: Tulsa, OK</li>
<li class="facts">Fun fact: Chad’s unique hobby as he states <br>is: I like stuffing folds of deli meat and raw <br>root vegetables into his mouth.</li>
    </p>
    <br>
    <br>

<img class="img" src="http://okhereisthesituation.com/wp-content/uploads/2016/05/Screen-Shot-2016-05-22-at-10.00.33-PM.png" alt="Daniel image">
    <p class="contestantsdaniel">Daniel Maguire</p>
    <li class="facts">Season: 12</li>
    <li class="facts">Age: 31</li>
    <li class="facts">Hometown: Edmonton, Canada</li>
<li class="facts">Fun fact: Daniel has competed in bodybuilding <br>competitions. He was signed by Richards-Vancouver <br>Red Management and Vancouver Major models.</li>
    </p>

<h2 class="contestantsheader">Female Contestants:</h2>

<img class="img" src="https://imgix.bustle.com/2017/1/11/2e3012c0-0f7e-421e-b41b-ec5447cce1c4.jpg
" alt="Corinne image">
    <p class="contestantscorrine">Corinne Olympios</p>
    <li class="facts">Season: 21</li>
    <li class="facts">Age: 24</li>
    <li class="facts">Hometown: Miami, FL</li>
<li class="facts">Fun fact: Corrine has become famous for her long <br>naps during the Rose Ceremony on the Bachelor. </li>
    </p>
<br>
<br>

<img class="img" src="http://okhereisthesituation.com/wp-content/uploads/2017/02/Screen-Shot-2017-02-13-at-1.27.44-AM-620x360.png?726872" alt="Kristina image">
<p class="contestantskristina">Kristina Schulman</p>
    <li class="facts">Season: 21</li>
    <li class="facts">Age: 24</li>
    <li class="facts">Hometown: Lexington, KY</li>
<li class="facts">Fun fact: Kristina, beside from having perfectly <br>white teeth, started her own apparel line called SheLift, <br>featuring tank tops, T-shirts, sweatshirts and more. </li>
    </p>
<br>
<br>

<img class="img" src="http://okhereisthesituation.com/wp-content/uploads/2016/12/Screen-Shot-2016-12-07-at-9.02.28-PM.png" alt="Alexis image">
<p class="contestantsalexis">Alexis Waters</p>
    <li class="facts">Season: 21</li>
    <li class="facts">Age: 23</li>
    <li class="facts">Hometown: Secaucus, NJ</li>
<li class="facts">Fun fact: Alexis introduced herself to the <br>Bachelor with a dolphin costume under the <br>assumption that it was a shark.</li>
    </p>
<br>
<br>

<img class="img" src="https://media.glamour.com/photos/5a749960770f187ff99ae7de/master/pass/bekah-martinez-missing-persons-report.jpg" alt="Bekah image">
<p class="contestantsbekah">Bekah Martinez</p>
    <li class="facts">Season: 22</li>
    <li class="facts">Age: 22</li>
    <li class="facts">Hometown: Fresno, CA</li>
<li class="facts">Fun fact: Bekah is an avid outdoorswoman <br>depicted by her Instagram pictures showing her <br>participating in adventures such as rock climbing <br>and snowboarding.</li>
    </p>

<h2 class="bio">~Current Couples~</h2>
<br>
<img class="couplesimg" src="https://i.pinimg.com/736x/f7/46/a1/f746a190b27dd9908d166402382e2899--cute-celebrity-couples-kaitlyn-bristowe.jpg" alt="K+S image">
    <p class="couplesKS">1. Kaitlyn Bristowe and Shawn Booth</p>
<p class="facts">This snazzy couple wakes up every <br>morning sipping their coffee out of their “Mr." and “Mrs.” mugs… How cute!</p>
    </p>
<br>
<img class="couplesimg" src="https://i2.wp.com/www.usmagazine.com/wp-content/uploads/carly-waddell-evan-bass-1404ae2d-7368-407b-8218-29f6e5c83ee0.jpg?crop=0px%2C0px%2C1500px%2C788px&resize=1200%2C630&ssl=1" alt="C+E image">
    <p class="couplesKS">2. Carly Waddell and Evan Bass </p> 
<p class="facts">This happily-married couple are already proud doggy parents!
  <br>
</p>
    </p>

</p>
<img class="couplesimg" src="https://peopledotcom.files.wordpress.com/2018/02/jade-tanner-tolbert-2-2000.jpg" alt="J+T image">
    <p class="couplesKS">3. Jade Tolbert and Tanner Tolbert </p>
<p class="facts">This adorable couple that met in paradise has just welcomed their baby-girl,<br>Emerson Tolbert and are definitely everybody’s OTP...Couple Goals for sure!
</p>
    </p>


</p>

</p>
<img class="couplesimg" src="https://peopledotcom.files.wordpress.com/2016/08/jordan-jojo-435.jpg?w=435
" alt="J+J image">
    <p class="couplesKS">4. JoJo Fletcher and Jordan Rogers</p>
<p class="facts">This crafty couple recently re-constructed their Dallas home together,<br>breaking walls apart hammer by hammer!

</p>
    </p>

</p>
    </p>


</p>

</p>
<img class="couplesimg" src="https://media1.s-nbcnews.com/i/newscms/2016_17/1065596/bachelorette-desiree-hartsock-today-tease-160427_2ce7ffc7ba2b5d76ccaf71306fa0ad10.jpg" alt="J+J image">
    <p class="couplesKS">5. Desiree Hartsock and Chris Siegfried </p>
<p class="facts">This loveable couple kept their engagement a secret to the point where they used<br> code names to refer to each other: Sonny and Cher! They are awaiting their second child<br>...Boy or Girl...What do you think?!


</p>
    </p>


