<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chad Johnson</title>
      <link href="stylesheets/styleresults.css" rel="stylesheet" />
  </head>
  <body>
    <a href = "/"><h1 class= "headerFont">You have been matched with Chad Johnson!</h1></a>
    <img class= "img"src = https://tvseriesfinale.com/wp-content/uploads/2017/02/chad-johnson-bachelor-in-paradise-abc-298x400.png>
    
    <p class= "facts">You are a person who enjoys the thrills in life. You rarely choose the safe option and would rather take a risk. Being in a relationship with Chad would open opportunities for more exciting experiences. Chad share your love for adventures, and this pairing could be an adventure of its own!</p>
  </body>
</html>


