<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Corinne Olympios</title>
      <link href="stylesheets/styleresults.css" rel="stylesheet" />
  </head>
  <body>
    <a href = "/"><h1 class = "headerFont">You have been matched with Corinne Olympios!</h1></a>
    <img class = "img" src = https://media2.s-nbcnews.com/j/newscms/2017_23/1219529/bachelor-in-paradise-star-today-170606-inline3_37b1509f0d35147bf14d15746153b651.today-inline-large.jpg>
    
    <p class = "facts">You are a person who enjoys the thrills in life. You rarely choose the safe option and would rather take a risk. Being in a relationship with Corinne would open opportunities for more exciting experiences. Corinne share your love for adventures, and this pairing could be an adventure of its own!</p>
  </body>
</html>
