<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Daniel Maguire</title>
      <link href="stylesheets/styleresults.css" rel="stylesheet" />
  </head>
  <body>
    <a href = "/"><h1 class = "headerFont">You have been matched with Daniel Maguire!</h1></a>
    <img class = "img" src = http://www.theknotnews.com/wp-content/uploads/2016/05/daniel-the-bachelorette.jpg>
    
    <p class = "facts">You are a person who has a free spirit. You don’t fall into any single category, and likes to have fun. You don’t take life too seriously, just like Daniel. A relationship between you two could create more jokes and laughter in your lives!</p>
  </body>
</html>