<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
      <link href="stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
  <h1 class="header">The Bachelor Breakdown</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img class="twitter"src="https://farm1.staticflickr.com/923/43462704902_f405da136d_z.jpg" alt="twitter">
      </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
  <div class="column">
   <a href = "quiz"><img src="https://upload.wikimedia.org/wikipedia/en/3/3e/The_Bachelor_usa_logo.png" class="width:170%"></a>
  </div>
      <div class="row">
  <div class="column">

  </div>
  <div class="column">
    
  </div>
      
  <div class="column">
    <a href = "bachelorbios"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/98061-200.png" alt="bio" style="width:50%"></a>
  </div>
</div>
  </body>
</html>

