<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Kristina Schulman</title>
      <link href="stylesheets/styleresults.css" rel="stylesheet" />
  </head>
  <body>
    <a href = "/"><h1 class = "headerFont">You have been matched with Kristina Schulman!</h1></a>
    <img class = "img" src = http://i.perezhilton.com/wp-content/uploads/2017/06/kristina-schulman-2__iphone_640.jpg>
    
    <p class = "facts">You are a person who likes to make everyone happy. You are known by many for your warm personality. There’s not a person who dislikes you, just like Kristina. This pairing would be the sweetest of them all!</p>
  </body>
</html>