<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Luke Pell</title>
      <link href="stylesheets/styleresults.css" rel="stylesheet" />
  </head>
  <body>
    <a href = "/"><h1 class = "headerFont">You have been matched with Luke Pell!</h1></a>
    <img class = "img" src = https://www.usmagazine.com/wp-content/uploads/142736_0741_luke-pell-zoom-c8a61925-1d86-47d8-8128-4552478a456e.jpg>
    
    <p class = "facts">You are a person who likes to make everyone happy. You are known by many for your warm personality. There’s not a person who dislikes you, just like Luke. This pairing would be the sweetest of them all!</p>
  </body>
</html>