<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Rose Ceremony</title>-->
<!--      <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="container">-->
<!--      <h1 class="header">Rose Ceremony</h1>-->

<!--      <h4 class="caption"> Find out who you would be most compatible with! </h4>-->
<!--      <div class="question">-->
<!--      <form action="/results_bachelor" method="post">-->
<!--      <h2>How would you describe yourself?</h2>-->
<!--        <input type="radio" name="description" value="4">Bold<br>-->
<!--        <input type="radio" name="description" value="3">Quirky<br>-->
<!--        <input type="radio" name= "description" value="2">Charming<br>-->
<!--        <input type="radio" name="description" value="1">Nice<br>-->
<!--        <h2>What is your dream vacation?</h2>-->
<!--        <input type="radio" name="vacation" value="4">Backpacking in Europe<br>-->
<!--        <input type="radio" name="vacation" value="3">Camping<br>-->
<!--        <input type="radio" name="vacation" value="2">Paris<br>-->
<!--        <input type="radio" name="vacation" value="1">The Bahamas<br>-->
<!--        <h2>What is your favorite type of movie?</h2>-->
<!--          <input type="radio" name="movie" value="4" >Action<br>-->
<!--          <input type="radio" name="movie" value="3" >Comedy<br>-->
<!--          <input type="radio" name="movie" value="2">Rom-Com<br>-->
<!--          <input type="radio" name="movie" value="1">Family Movie<br>-->
<!--        <h2>What is your ideal date?</h2>-->
<!--          <input type="radio" name="date" value="4" >Skydiving<br>-->
<!--          <input type="radio" name="date" value="3" >Paintball<br>-->
<!--          <input type="radio" name="date" value="2">Drive-In<br>-->
<!--          <input type="radio" name="date" value="1">Dinner<br>-->

<!--          <button type = "submit" class="new">Find Your Match!</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

<!--  </body>-->
<!--</html>-->
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Rose Ceremony</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/stylequizzes.css">
  </head>
  <body>
    <div class="container">
      <a href = "/"><h1 class="header">The Bachelor Breakdown</h1></a>
      <h4 class="bio">-Rose Ceremony Quiz-</h4>
      <div class="question">
      <form action="/results_bachelor" method="post">
      <h2>How would you describe yourself?</h2>
        <div id = "question1">
        <input class="options" type="radio" name="description" value="4">Bold<br>
        <input class="options" type="radio" name="description" value="3">Quirky<br>
        <input class="options"type="radio" name= "description" value="2">Charming<br>
        <input class="options" type="radio" name="description" value="1">Nice<br>
        </div>
        <h2>What is your dream vacation?</h2>
        <div id = "question2">
        <input class="options"type="radio" name="vacation" value="4">Backpacking in Europe<br>
        <input class="options"type="radio" name="vacation" value="3">Camping<br>
        <input class="options"type="radio" name="vacation" value="2">Paris<br>
        <input class="options"type="radio" name="vacation" value="1">The Bahamas<br>
        </div>
        <h2>What is your favorite type of movie?</h2>
        <div id = "question3">
          <input class="options"type="radio" name="movie" value="4" >Action<br>
          <input class="options"type="radio" name="movie" value="3" >Comedy<br>
          <input class="options"type="radio" name="movie" value="2">Rom-Com<br>
          <input class="options"type="radio" name="movie" value="1">Family Movie<br>
        </div>
        <h2>What is your ideal date?</h2>
        <div id = "question4">
          <input class="options"type="radio" name="date" value="4" >Skydiving<br>
          <input class="options"type="radio" name="date" value="3" >Paintball<br>
          <input class="options"type="radio" name="date" value="2">Drive-In<br>
          <input class="options"type="radio" name="date" value="1">Dinner
        <br>
        <br>
        <br>
        </div>
        
          <button type = "submit" class="submit">Find Your Match!</button>
      </form>
    </div>
  </div>

  </body>
</html>

