.bachelor_size{
  height:500px; width: 50%;
  float: left; position: absolute; left: 0px;
} 
  
.bachelorette_size{
  height:500px; width:40%;
  float: left; position: absolute; right: 60px;
}

.header_quiz1{ 
  font-size:36; float:left; position:absolute; right:500px;
}
.header {
  text-align: center;
  background-color: white;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 45px;
  color: #ff8080;
  font-style: bold;
  }
body {background-color: #ffb3b3}

.bio {
  color: #ffffff;
  text-align: center;
  font-size: 29px;
}

.header {
  text-align: center;
  background-color: grey;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 60px;
  color: black;
  font-style: bold;
  }
body {background-color: #ffb3b3}

.column {
  float: left;
  width: 23.55%;
  padding: 10px;
}

.twitter {
    display: block;
    width: 50%;
    text-align: center;
    padding-left: 350px;
    padding-right: 300px;
}
 body {
   background-image: url("https://www.warnerbros.com/sites/default/files/tv/media/browser/bachelor_background2.jpg");
  
   background-color: #cccccc;






